<div class="eventos-relevantes">

  <table class="table table-striped table-bordered" id="datatable" cellspacing="0" width="100%">

    <thead>
    <tr>
      <th class="col-md-9">Eventos</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>


    <tbody></tbody>

  </table>
</div>
