<div id="404"><!-- Page title -->
    <div class="page-404">
          <div class="row">

                <h1 class="404">404</h1>
                <h2>Ohh! Página no encontrada</h2>
                <div class="sorry">Lo sentimos, pero la página que usted busca no se ha encontrado.</div>
                <a href="/" class="button-green upp">Volver a la portada</a>

          </div>
    </div>
</div>