<!--button grande-->
<div style="">
  <a class="button-gray"  target="_blank" href="#">Texto</a>
</div>


<!--boton de descarga-->
<a target="_blank"  class="button-download custom_btn" href="">DESCARGAR
  <i class="fa fa-file-pdf-o"></i></a>




<!--link de descarga-->
<a style="text-decoration: underline" href="#">Descargue</a> nuestra última convocatoria a Asamblea.



<!--viñetas-->
<!--nombre + descripcion-->
<ul class="features-list features-list-left" style="float: none">
  <li><i class="fa fa-angle-right"></i><strong>Nombre:</strong> <span> texto de descripcion</span></li>
</ul>

<!--descripcion-->
<ul class="features-list features-list-left" style="float: none">
  <li><i class="fa fa-angle-right"></i> <span> texto de descripcion</span></li>
</ul>



<!--Tabla-->
<table class="table table-striped table-bordered">

  <thead>
  <tr>
    <th colspan="4" style="text-align: center">Renta fija</th>
  </tr>

  <tr>
    <th>Institución</th>
    <th>Analista</th>
  </tr>
  </thead>


  <tbody>
  <tr>
    <td>Prognosis</td>
    <td>Carlos Fritsch</td>
  </tr>
  </tbody>

</table>

<!--citas de la tabla-->
<p class="fuente-tabla">* descripcion del asterisco</p>


<!--datatables, solo agregar el id="datatable"-->
<table class="table table-striped table-bordered" id="datatable" cellspacing="0" width="100%">
</table>




