<div id="mensaje-presidente">

    <div class="auto-container">
      <div class="row">
        <!-- Blog Left Side Begins -->
        <div class="col-md-12">
          <br><br>

          <div class="single-sponsors content">
            <div class="row">
              <div class="col-lg-3">
                <div>
                  <img class="img-responsive" src="/images/resource/complementos-carta.png" alt="">
                </div>
                <div style="margin-top: 200px">
                  <img class="img-responsive" src="/images/resource/complementos-carta1.png" alt="">
                </div>
                <div style="margin-top: 200px">
                  <img class="img-responsive" src="/images/resource/complementos-carta2.png" alt="">
                </div>
                <div style="margin-top: 200px">
                  <img class="img-responsive" src="/images/resource/complementos-carta3.png" alt="">
                </div>

              </div>
              <div class="col-lg-9">
                <h2>A NUESTROS ACCIONISTAS</h2>

                <div class="clearfix colelem" id="u17184-68" data-muse-uid="U17184"><!-- content -->
                  <!-- m_editable region-id="editable-static-tag-U17184" template="mensaje-del-presidente-y-director-general.html" data-type="html" data-ice-options="disableImageResize,none" -->
                  <p>La eficaz y puntual ejecución de estrategias y tácticas comerciales adecuadas a las
                    condiciones de mercado en cada plaza, así como iniciativas enfocadas a robustecer la operación de
                    Banco FAMSA, primordialmente los procesos de originación de crédito y cobranza, nos permitieron en
                    2014 mejorar el posicionamiento de Grupo FAMSA para continuar la ruta de crecimiento trazada en los
                    últimos años.</p>

                  <p>Como manifestación de la confianza de los accionistas e inversionistas con la
                    compañía, como plataforma de creación de valor, en el cuarto trimestre de 2014 se llevó a cabo un
                    aumento de capital a través de la suscripción de acciones por P$1,500 millones.</p>

                  <p>Esta inversión fortaleció a Grupo FAMSA para ampliar los planes de expansión
                    geográfica y capitalizar a Banco FAMSA con el objetivo de apuntalar las oportunidades de crecimiento
                    y rentabilidad en el corto y mediano plazo en México. En consecuencia, el Índice de Capitalización
                    (ICAP) de Banco FAMSA cerró en 12.9% al 31 de diciembre de 2014 al llevarse a cabo dos aumentos de
                    capital por P$100 y P$200 millones en los meses de agosto y diciembre de 2014, respectivamente.</p>

                  <p>La estructura financiera de nuestro negocio bancario nos permitirá hacer frente al
                    incremento en la demanda de crédito al consumo derivado de la apertura de nuevas plazas; así como
                    reforzar la diversificación de la oferta crediticia al dinámico segmento de micro, pequeñas y
                    medianas empresas (MiPYME) para los próximos años.</p>

                  <p>Adicionalmente, se destinaron P$700 millones a la amortización de deuda de Grupo
                    FAMSA durante los meses de noviembre y diciembre de 2014, capitalizando la solidez financiera de la
                    compañía para impulsar el potencial de crecimiento esperado.</p>

                  <p>Apoyados en el profesionalismo de un gran equipo de colaboradores, dimos continuidad
                    al plan de aperturas del piso de ventas de FAMSA México y Banco FAMSA trazado para 2014. Asimismo,
                    logramos revertir en la segunda mitad del año la tendencia negativa en el volumen de ventas a nivel
                    consolidado a pesar de un entorno económico desafiante.</p>

                  <p>Fruto de estos esfuerzos, al cierre de 2014 las Ventas Netas consolidadas de Grupo
                    FAMSA alcanzaron P$14,856 millones, tan sólo un 1.3% menor que en 2013.</p>

                  <p>Particularmente en México, a través de la ejecución de estrategias comerciales para
                    estimular la demanda de bienes duraderos, como las ventas especiales del Día de la Madre, Día del
                    Padre, El Buen Fin, y Navidad, dieron como resultado que las Ventas Netas en el país sumaran
                    P$13,008 millones.</p>

                  <p>En términos de presencia territorial, crecimos nuestra red con 8 nuevas tiendas en
                    México, cada una con una sucursal bancaria en su interior, expandiendo en 2.1% nuestra superficie de
                    ventas, con 370 tiendas al final del año. De forma paralela, Banco FAMSA concluyó la reconversión de
                    71 sucursales del negocio adquirido en 2013, cerrando el 2014 con 401 sucursales bancarias, un 26.5%
                    más que el año anterior, y 102 unidades aún pendientes de reconvertir con la imagen y modelo de
                    negocio del banco.</p>

                  <p>Respecto a Banco FAMSA, los esfuerzos estratégicos implementados puntualmente para
                    agilizar la cobranza y mejorar la identificación del riesgo en las nuevas solicitudes se reflejaron
                    en una disminución de 340 puntos base en el&nbsp; Índice de Morosidad, que incluye derechos de
                    cobro, al pasar de 17.5% en abril a 14.2% en diciembre de 2014.</p>

                  <p>Por su parte, la Captación Bancaria creció a un ritmo sostenido de 5.9% anual,
                    alcanzando P$14,752 millones, con una disminución de la tasa promedio de fondeo, que alcanzó un
                    nuevo record al registrar 4.7% durante el cuarto trimestre del año.</p>

                  <p>Muestra de la visión de Grupo FAMSA para apoyar la cultura emprendedora en México
                    como vector para un mayor dinamismo económico, en 2014 Banco FAMSA amplió el otorgamiento de crédito
                    para la Micro, Pequeña y Mediana industria, destinando al cierre del año un 25.0% del portafolio
                    comercial a este segmento.</p>

                  <p>Respecto a nuestra operación en Estados Unidos, la categoría de Muebles, que
                    representa poco más de la mitad del volumen de ventas en ese país, registró un alza anual de 8.1%,
                    mientras que los Préstamos Personales y las ventas de FAMSA a FAMSA, que permite a los clientes
                    hispanos comprar en Estados Unidos y que la mercancía sea entregada a su familia en México,
                    crecieron durante 2014 a un ritmo de doble dígito.</p>

                  <p>En términos anuales, FAMSA USA alcanzó en 2014 Ventas Netas por P$1,749 millones, un
                    6.4% superiores a 2013, con un incremento del 2.4% comparando mismas tiendas, excluyendo el efecto
                    cambiario, contribuyendo positivamente al resultado consolidado.</p>

                  <p>Este desempeño, aunado al aumento de capital llevado a cabo para incrementar la
                    flexibilidad financiera de Grupo FAMSA que le permitan aprovechar oportunidades de expansión,
                    colocan a la compañía en una posición competitiva adecuada para lograr sus objetivos de negocio en
                    el mediano plazo.</p>

                  <p>En 2015 continuaremos la ampliación del piso de ventas en México y Estados Unidos,
                    así como la búsqueda de sinergias con Banco FAMSA, para seguir apoyando el bienestar económico de
                    nuestros clientes con servicios financieros de vanguardia.</p>

                  <p>Nuestro reconocimiento y agradecimiento a todo nuestro personal, que supo demostrar
                    con pasión y determinación, la capacidad de desarrollar soluciones innovadoras ante los retos que
                    presentó el 2014.</p>

                  <p>Al Consejo de Administración queremos agradecer la guía, liderazgo y apoyo que nos
                    brindaron durante el año.</p>

                  <p>A nuestros accionistas, agradecemos su confianza en la consolidación de este negocio
                    como plataforma de creación de valor. Les reiteramos nuestro compromiso con la ejecución
                    perfeccionada de las estrategias necesarias para respaldar con resultados su apoyo a la compañía y
                    llevar a Grupo FAMSA al máximo nivel que todos queremos alcanzar.</p>

                  <div class="row">
                    <img src="/images/resource/firmas.jpg" alt="Presidente"/>
                    <div class="col-md-7">
                      <p>Humberto Garza González <br/><b>Presidente</b></p>
                    </div>
                    <div class="col-md-4">
                      <p>Humberto Garza Valdéz <br/><b>Director General</b></p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!-- Blog Left Side Ends -->

      </div>

    </div>

</div>